# MongoDB Configuration
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=Rc@3é1fceIrF_3@àfd1&Zv

# MinIO Configuration
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=Rc3fceIrF_3_fd1_Zv2026

# AI Backend Configuration
GROQ_API_KEY={{ groq_api_key }}
GROQ_MODEL_NAME={{ groq_model_name }}
GROQ_VISION_MODEL={{ groq_vision_model }}
LLM_TEMPERATURE={{ llm_temperature }}
LLM_MAX_TOKENS={{ llm_max_tokens }}
LLM_MEMORY_WINDOW={{ llm_memory_window }}
APP_NAME={{ app_name }}
ENVIRONMENT={{ environment }}
DEBUG={{ debug }}
ALLOWED_ORIGINS={{ allowed_origins }}
LOG_LEVEL={{ log_level }}
BFL_API_KEY={{ bfl_api_key }}
IMAGE_PROVIDER={{ image_provider }}
POLLINATIONS_API_KEY={{ pollinations_api_key }}
SPRING_BOOT_BASE_URL={{ spring_boot_base_url }}
